# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/

# IDE files
.idea/

# Working directories
workdir/

# supprimer le répertoire _build s'il est généré
_build/

# Documentation locale
info.txt